/* Global */
:root {
    --font: "Roboto", "Helvetica", sans-serif;
}

/* Toctree */
div.sphinxsidebar {
    font-family: var(--font);
}

}
div.sphinxsidebarwrapper h1 {
    font-size: px;
}

div.sphinxsidebar h3 {
    font-family: var(--font);
    font-weight: bold;
}

div.sphinxsidebar ul ul {
    list-style: none;
}

a code {
    font-family: var(--font);
    word-break: break-word;
    font-weight: normal;
    font-size: 100%;
}

/* Body */
div.bodywrapper {
    font-family: var(--font);
}

div.body h1 {
    font-family: var(--font);
    font-weight: bold;
    font-size: 2em;
    line-height: 1.3;
}

p.caption, div.body h2, div.body h3 {
    font-family: var(--font);
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.3;
}

.sig, .sig-name {
    font-weight: bold;
    font-size: 1em;
    line-height: 1.3;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
}

