name: documentation

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Cache
        uses: actions/cache@v3
        with:
          path: .venv
          key: ${{ runner.os }}-uv-${{ hashFiles('uv.lock') }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pipx install uv
          uv sync --all-extras --dev

      - name: Sphinx build
        run: uv run sphinx-build -b html -W docs/source docs/_build/html

      - name: Upload docs HTML artifact
        uses: actions/upload-artifact@v3
        with:
          name: docs-html
          path: _build/html/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/html/
          force_orphan: true